/* Layout */

* {
  box-sizing: border-box;
  color: #fff;
  font-family: 'IBM Plex Sans', sans-serif, 'Arial';
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #21e6c1 0%, #071e3d 100%);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position:relative;
}

h1 {
  text-align: center;
}

button {
  background-color: #d43900;
  border-radius: 5px;
  width: 100px;
}

button:hover {
  font-weight: bolder;
  filter: drop-shadow(0px 0px 5px #d43900);
}

.player-0-panel button {
  position: relative;
  left: 25%;
  background-color: #d43900;
  border-radius: 5px;
  width:50px;
}

.player-1-panel button {
  position: relative;
  left: 75%;
  background-color: #d43900;
  border-radius: 5px;
  width:50px;
}

.game-box {
  background-color: #278ea5;
  height: 500px;
  margin: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
}
